p {
    position: relative;
    left:0%;
    top:70%;
    color: white;
}

a {
 color: #ADD8E6;   
}

a:hover {
    font-weight:900;
}

a:visited {
    color: #EDCE5C;   
}

a:active {
    color:black;
}

